<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <!--<add name="DataMaxDBEntities" connectionString="metadata=res://*/DataMaxDbModel.csdl|res://*/DataMaxDbModel.ssdl|res://*/DataMaxDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.48;Initial Catalog=dbDatamaxGALA;Persist Security Info=True;User ID=ERICSSON01;Password=€ricsson01!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DataMaxDBEntities" connectionString="Server=192.168.10.48;Database=dbDatamaxGALA;User Id=ERICSSON01;Password=€ricsson01!;" providerName="System.Data.EntityClient" />-->
    <add name="DataMaxDBEntities" connectionString="metadata=res://*/DataMaxDbModel.csdl|res://*/DataMaxDbModel.ssdl|res://*/DataMaxDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.10.48;Initial Catalog=dbDatamaxGALA;Persist Security Info=True;User ID=ERICSSON01;Password=€ricsson01!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>