<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="StagingDBEntities" connectionString="metadata=res://*/StagingGalaModelDB.csdl|res://*/StagingGalaModelDB.ssdl|res://*/StagingGalaModelDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.20.20;initial catalog=CBX_GALA_STAG;persist security info=True;user id=gala_staging;password=N4HzxvwPzZ;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>